{% extends 'base.html' %}

{% block title %}{{city.city_name}}{% endblock %}

{% block content %}


{% if weather_list %}
    <div class="limiter">
            <div class="container-table100">
                <div class="wrap-table100">
                    <div class ="table">
                        <div class="row header">
                                <div class="cell">Название города</div>
                                <div class="cell">Температура</div>
                                <div class="cell">Дата и время</div>
                        </div>
                        {% for w in weather_list %}
                            {% if w.was_find_recently %}
                                <div class="row">
                                    <div class="cell">{{w.city_name}}</div>
                                    <div class="cell">{{w.temperature}}</div>
                                    <div class="cell">{{w.date}}</div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
    </div>

{% else %}
Погода не найдена
{% endif %}

{% endblock %}